<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
</head>
<body>
<form action="Test.html">
  <label for="cars">Choose the operation to visualize the chart:</label>
  <select name="operation" id="operation">
    <option value="Add">Add</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<canvas id="chart" width="900" height="600"></canvas>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const xlabels = [3,5,7,2,4,8,9,11,9];
    const ylabels = [6,5,8,9,3,5,2,11,4];
    const zlabels = [];

    add();
    getData();
    chartIt();

    async function chartIt() {
        await getData();
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: zlabels,
                datasets: [
                    {
                    label: 'Input 1',
                    backgroundColor: 'red',
                    borderColor: 'black',
                    borderWidth: 1,
                        data: xlabels
                    },
                    {
                    label: 'Input 2',
                    backgroundColor: 'green',
                    borderColor: 'black',
                    borderWidth: 1,
                        data: ylabels
                    }
                ],
            },
            options: {
                responsive:false,
                scales: {
                    xAxes: [{
                        stacked: false
                    }],
                    yAxes: [{
                        stacked: false
                    }]
            }
    }
        });
    }
    async  function add(){
        var i;
        for (i = 0; i < xlabels.length; i++) {
            zlabels[i] = xlabels[i] + ylabels[i];
        }
    }
    async  function subtract(){
        var i;
        for (i = 0; i < xlabels.length; i++) {
            zlabels[i] = xlabels[i] - ylabels[i];
        }
    }
    async  function multiply(){
        var i;
        for (i = 0; i < xlabels.length; i++) {
            zlabels[i] = xlabels[i] * ylabels[i];
        }
    }
    async  function divide(){
        var i;
        for (i = 0; i < xlabels.length; i++) {
            zlabels[i] = xlabels[i] / ylabels[i];
        }
    }

        async function getData() {
          const response = await fetch("test.csv");
          const data = await response.text();
        }

</script>
</body>
</html>
