{% extends "layout.html" %}
{% block body %}
<div>
    <h1 align="center"> Registeration Page</h1>
    </br>
    </br>
    <form action="" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>First Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>Last Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>First Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>First Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>First Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>

            <button type="submit"> Submit </button>
        </div>
    </form>
</div>
{% endblock %}